<mat-toolbar >
  <span>Home Page</span>
</mat-toolbar>
<div class="layout-container">
  <mat-card class="card-w">
    <mat-card-header>
      <mat-card-title>About Demo Patient Application</mat-card-title>
      <mat-card-subtitle>Version:1.0.0</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Demo Patient Application is simple test application,that holds two features.First
        feature is form fot entering patient information.Second feature is list of patient displayed in table
        view.Test data are  not persisted in any database or in browser storage,they are stored in memory(data-manager.service).
        Application is provided with couple of initial data,saving patient form will update in memory data but reloading browser will erase entered data.
      </p>
    </mat-card-content>
  </mat-card>
</div>
