<mat-toolbar>
  <span>Patients Overview Table</span>
</mat-toolbar>
<div class="layout-container">

  <table mat-table matSort [dataSource]="dataSource" #table>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        First Name
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        Last Name
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.lastName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="registeredDate">
      <th mat-header-cell *matHeaderCellDef>
        Registered Date
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.registeredDate | date:'mediumDate'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="doctorFirstName">
      <th mat-header-cell *matHeaderCellDef>
        Doctor First Name
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.doctorFirstName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="doctorLastName">
      <th mat-header-cell *matHeaderCellDef>
        Doctor Last Name
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.doctorLastName}}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>
        Email
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.email}}
      </td>
    </ng-container>


    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>
        Phone
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.phone}}
      </td>
    </ng-container>

    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef>
        Street
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.street}}
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>
        City
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.city}}
      </td>
    </ng-container>

    <ng-container matColumnDef="zipCode">
      <th mat-header-cell *matHeaderCellDef>
        Zip Code
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.zipCode}}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>
        Country
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.country}}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef>Details</th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="details" matListIcon (click)="goToDetails(element)">open_in_new</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator  [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
